<head>
  <meta charset="UTF-8">
  <title>Escape Array</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="main">
    <header class="head">
      <h1>
        Escape Array
      </h1>
    </header>
      <main class="body">
     {{{ body }}}
      </main>
  </div>
</body>


</html>