<h2 id="title">TRIPLY</h2>
<p>Here is a list of cities to choose from that will take you    
 to a page where you can choose different activities for that city.</p>

<table>
  <tr>
    <th>Asheville</th>
    <th>Richmond</th>
    <th>Bend, OR</th>
    <th>St. Petersburg FL,</th>
    <th>Oklahoma City, OK</th>
    <th>Greenville, SC</th>
    <th>Grand Rapids, MI</th>
    <th>Ft Collins, CO</th>
    <th>Kansas City, MO</th>
    <th>Chattanooga, TN</th>
    <th>Tuscon, AZ</th>
    <th>Portland, ME</th>
    <th>Annapolis, MD</th>
    <th>Charleston, SC</th>
  </tr>
</table>

</body>
</html>
